/* 広告排除 */

.tdftad,
.adingoFluctOverlay,
.fluct_ad_container,
#asumi-frame-29-418,
div#adingoFluctOverlay_1000046885.adingoFluctOverlay{
	display: none;
}
/* 公演記事のmargin-top */
.article{
	margin-top: 30px;
}

/* 公演写真のmargin-bottom */
.left-image{
	margin-bottom: 10px;
}

/* 右に1emずらす */
.left1em{
	margin-left: 1em;
}

/* stafflistの各役職間のmargin */
.stafflist{
	margin-top: 20px;
}

#headerwrap h2{
	color: white;
}

/* red */
span.red{
	color: red;
}

/* TOPのheaderwrapの背景に星を動かす */
.star{
	background-image: url("../img/top/background_star.png");
}

/*キーフレームsnowを設定。*/
/*最初は0,0で、時間が100%(今回は30秒)に到達したら、background-positionを右に500px,左に500pxずれるの意味*/
@keyframes snow {
    0%{background-position:0 0;}
    100%{background-position:500px 500px;}
}

/*Firefox用*/
@-moz-keyframes snow {
	0%{background-position:0 0;}
	100% {background-position:500px 500px;}　
}

/*chrome用*/
@-webkit-keyframes snow {
	0%{background-position:0 0;}
	100%{background-position:500px 500px;}　
}

/*#divにアニメーションを適用*/
.star{
    animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -webkit-animation: snow 20s linear infinite;
}
/*キーフレームsnow（@keyframes snow）を30s（30秒）かけて、
linear（一定の速度）で、infinite（無限に繰り返す)を指定*/

/*  */
.vert-middle{
	vertical-align: middle;
}

#twrap h3 {
	color: white;
}

.left-image{
	margin-bottom: 30px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active{
	color: #FFF;
	background-color: #000080;
	border-color: #000080;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
}

#top-banner{
	margin-bottom: 30px;
}

