@charset "UTF-8";

/*************************************************
【忍者式メールフォーム自作CSS】
自作CSSを使用するには、HTMLとCSSの知識が必須です。
HTMLやCSSについては参考文献などを参照してください。
*************************************************/

/*メールフォーム全体を囲っているタグのid*/
#NEWMAIL_top {

}

/*メールフォームのパーツや送信ボタンを囲っているタグのclass（タイトル、説明文以外）*/
#NEWMAIL_top .main {

}

/*メールフォームのタイトルを囲っているタグのclass*/
#NEWMAIL_top .title{

}

/*メールフォームの説明文を囲っているタグのclass*/
#NEWMAIL_top .explain {

}

/*『name』パーツの表示名と入力項目を囲っているタグのclass*/
#NEWMAIL_top .name_top {

}

/*『name』パーツの表示名を囲っているタグのclass（[ 名前 ]の部分）*/
#NEWMAIL_top .name_left{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

/*『name』パーツの入力項目を囲っているタグのclass*/
#NEWMAIL_top .name_right {

}

/*『name』パーツの入力項目のclass（inputなどの部分）*/
#NEWMAIL_top .name_parts {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px;
	        box-shadow: inset 0 1px 1px;
	rgba(0, 0, 0, 0.75);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	   -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*『mail』パーツの表示名と入力項目を囲っているタグのclass*/
#NEWMAIL_top .mail_top {

}

/*『mail』パーツの表示名を囲っているタグのclass（[ メールアドレス ]の部分）*/
#NEWMAIL_top .mail_left{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

/*『mail』パーツの入力項目を囲っているタグのclass*/
#NEWMAIL_top .mail_right {

}

/*『mail』パーツの入力項目のclass（inputなどの部分）*/
#NEWMAIL_top .mail_parts {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px;
	        box-shadow: inset 0 1px 1px;
	rgba(0, 0, 0, 0.75);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	   -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*『title』パーツの表示名と入力項目を囲っているタグのclass*/
#NEWMAIL_top .title_top {

}

/*『title』パーツの表示名を囲っているタグのclass（[ 件名 ]の部分）*/
#NEWMAIL_top .title_left{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}

/*『title』パーツの入力項目を囲っているタグのclass*/
#NEWMAIL_top .title_right {

}

/*『title』パーツの入力項目のclass（inputなどの部分）*/
#NEWMAIL_top .title_parts {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px;
	        box-shadow: inset 0 1px 1px;
	rgba(0, 0, 0, 0.75);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	   -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*『textarea』パーツの表示名と入力項目を囲っているタグのclass*/
#NEWMAIL_top .textarea_top {

}

/*『textarea』パーツの表示名を囲っているタグのclass（[ 本文 ]の部分）*/
#NEWMAIL_top .textarea_left{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 10px;
}

/*『textarea』パーツの入力項目を囲っているタグのclass*/
#NEWMAIL_top .textarea_right {

}

/*『textarea』パーツの入力項目のclass（inputなどの部分）*/
#NEWMAIL_top .textarea_parts {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	height: 150px;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px;
	        box-shadow: inset 0 1px 1px;
	rgba(0, 0, 0, 0.75);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	   -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    -ms-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*メールフォームの送信ボタンを囲っているタグのclass*/
#NEWMAIL_top .submit {

}

/*メールフォームの送信ボタンのclass*/
#NEWMAIL_top .submit_button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  background-color: #384452;
  border-color: #384452;
  margin: 4px;


}

#NEWMAIL_top .submit_button:focus,
#NEWMAIL_top .submit_button:active:focus,
#NEWMAIL_top .submit_button.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

#NEWMAIL_top .submit_button:hover,
#NEWMAIL_top .submit_button:focus{
  color: #fff;
  background-color: #00b3fe;
  border-color: #00b3fe;
}

#NEWMAIL_top .submit_button:active,
#NEWMAIL_top .submit_button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
#NEWMAIL_top .submit_button.disabled,
#NEWMAIL_top .submit_button[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}


/*エラーメッセージを囲っているタグのclass*/
#NEWMAIL_top .error {

}

/*エラーメッセージのリトライボタンを囲っているタグのclass*/
#NEWMAIL_top .error_submit {

}

/*エラーメッセージのリトライボタンのclass*/
#NEWMAIL_top .error_submit_button {

}

/*送信完了メッセージを囲っているタグのclass*/
#NEWMAIL_top .result {

}

/*送信完了メッセージの戻るボタンを囲っているタグのclass*/
#NEWMAIL_top .result_submit {

}

/*送信完了メッセージの戻るボタンのclass*/
#NEWMAIL_top .result_submit_button {

}

#shinobi_jp_text{
	display: none;
}